Django>=4.2,<6.0
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
django-cors-headers
django-filter
dj-database-url
psycopg2-binary
celery
redis
django-redis
gunicorn
whitenoise
Pillow
asgiref
sqlparse
django-debug-toolbar
python-dotenv
drf-spectacular
