@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *, [data-theme="dark"], [data-theme="dark"] *));

:root {
  /* Light Theme */
  --logo-color: #f3efe6;
  --background: #e6e0d4;
  --foreground: #3a3532;
  --primary: #3a3532;
  --secondary: #ffffff;
  --accent: #8b7a66;
  --button-bg: #3a3532;
  --button-fg: #ffffff;
  --bkash: #e2136e;
  --nagad: #f15a24;
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

html[data-theme="dark"],
.dark {
  /* Dark Theme */
  --logo-color: #f3efe6;
  --background: #5b5046;
  --foreground: #f3efe6;
  --primary: #11100f;
  --secondary: #262422;
  --accent: #ab7180;
  --button-bg: #2b2f33;
  --button-fg: #f3efe6;
  --bkash: #e2136e;
  --nagad: #f15a24;
}

@theme {
  --color-logo: var(--logo-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-button-bg: var(--button-bg);
  --color-button-fg: var(--button-fg);
  --color-bkash: var(--bkash);
  --color-nagad: var(--nagad);
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
